{% load staticfiles %}
<html>
 <body>
  <div class="cbp-loadMore-block1">
   <div class="cbp-item identity">
    <a class="cbp-caption cbp-lightbox" data-title="Remind~Me More&lt;br&gt;by Tiberiu Neamu" href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/f36370">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="http://scriptpie.com/cubeportfolio/img/?i=500x375/e5599d"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignLeft">
       <div class="cbp-l-caption-body">
        <div class="cbp-l-caption-title">
         Remind~Me More
        </div>
        <div class="cbp-l-caption-desc">
         by Tiberiu Neamu
        </div>
       </div>
      </div>
     </div>
    </a>
   </div>
   <div class="cbp-item web-design motion">
    <a class="cbp-caption cbp-lightbox" data-title="Remind~Me Widget&lt;br&gt;by Tiberiu Neamu" href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/747b7e">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="http://scriptpie.com/cubeportfolio/img/?i=500x375/6671ab"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignLeft">
       <div class="cbp-l-caption-body">
        <div class="cbp-l-caption-title">
         Remind~Me Widget
        </div>
        <div class="cbp-l-caption-desc">
         by Tiberiu Neamu
        </div>
       </div>
      </div>
     </div>
    </a>
   </div>
   <div class="cbp-item identity">
    <a class="cbp-caption cbp-lightbox" data-title="Smart Searchy&lt;br&gt;by Tiberiu Neamu" href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/f5928c">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="http://scriptpie.com/cubeportfolio/img/?i=500x375/e788b9"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignLeft">
       <div class="cbp-l-caption-body">
        <div class="cbp-l-caption-title">
         Smart Searchy
        </div>
        <div class="cbp-l-caption-desc">
         by Tiberiu Neamu
        </div>
       </div>
      </div>
     </div>
    </a>
   </div>
   <div class="cbp-item web-design">
    <a class="cbp-caption cbp-lightbox" data-title="Workout Buddy&lt;br&gt;by Tiberiu Neamu" href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/76aa9a">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="http://scriptpie.com/cubeportfolio/img/?i=500x375/68a0c7"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignLeft">
       <div class="cbp-l-caption-body">
        <div class="cbp-l-caption-title">
         Workout Buddy
        </div>
        <div class="cbp-l-caption-desc">
         by Tiberiu Neamu
        </div>
       </div>
      </div>
     </div>
    </a>
   </div>
   <div class="cbp-item graphic logos">
    <a class="cbp-caption cbp-lightbox" data-title="Story Book&lt;br&gt;by Cosmin Capitanu" href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/8cafd0">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="http://scriptpie.com/cubeportfolio/img/?i=500x375/7ea5fd"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignLeft">
       <div class="cbp-l-caption-body">
        <div class="cbp-l-caption-title">
         Story Book
        </div>
        <div class="cbp-l-caption-desc">
         by Cosmin Capitanu
        </div>
       </div>
      </div>
     </div>
    </a>
   </div>
   <div class="cbp-item graphic">
    <a class="cbp-caption cbp-lightbox" data-title="Space Trip&lt;br&gt;by Cosmin Capitanu" href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/0dc7de">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="http://scriptpie.com/cubeportfolio/img/?i=500x375/ffbc0b"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignLeft">
       <div class="cbp-l-caption-body">
        <div class="cbp-l-caption-title">
         Space Trip
        </div>
        <div class="cbp-l-caption-desc">
         by Cosmin Capitanu
        </div>
       </div>
      </div>
     </div>
    </a>
   </div>
   <div class="cbp-item logos motion">
    <a class="cbp-caption cbp-lightbox" data-title="Digital Menu&lt;br&gt;by Cosmin Capitanu" href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/8edeec">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="http://scriptpie.com/cubeportfolio/img/?i=500x375/80d419"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignLeft">
       <div class="cbp-l-caption-body">
        <div class="cbp-l-caption-title">
         Digital Menu
        </div>
        <div class="cbp-l-caption-desc">
         by Cosmin Capitanu
        </div>
       </div>
      </div>
     </div>
    </a>
   </div>
  </div>
  <div class="cbp-loadMore-block2">
   <div class="cbp-item web-design">
    <a class="cbp-caption cbp-lightbox" data-title="21 Degrees&lt;br&gt;by Cosmin Capitanu" href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/0ff6fa">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="http://scriptpie.com/cubeportfolio/img/?i=500x375/01ec27"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignLeft">
       <div class="cbp-l-caption-body">
        <div class="cbp-l-caption-title">
         21 Degrees
        </div>
        <div class="cbp-l-caption-desc">
         by Cosmin Capitanu
        </div>
       </div>
      </div>
     </div>
    </a>
   </div>
   <div class="cbp-item identity">
    <a class="cbp-caption cbp-lightbox" data-title="Mountaineer&lt;br&gt;by Cosmin Capitanu" href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/900d09">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="http://scriptpie.com/cubeportfolio/img/?i=500x375/820336"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignLeft">
       <div class="cbp-l-caption-body">
        <div class="cbp-l-caption-title">
         Mountaineer
        </div>
        <div class="cbp-l-caption-desc">
         by Cosmin Capitanu
        </div>
       </div>
      </div>
     </div>
    </a>
   </div>
   <div class="cbp-item web-design logos">
    <a class="cbp-caption cbp-lightbox" data-title="Timezone Mgmt&lt;br&gt;by Cosmin Capitanu" href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/112517">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="http://scriptpie.com/cubeportfolio/img/?i=500x375/031b44"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignLeft">
       <div class="cbp-l-caption-body">
        <div class="cbp-l-caption-title">
         Timezone Mgmt
        </div>
        <div class="cbp-l-caption-desc">
         by Cosmin Capitanu
        </div>
       </div>
      </div>
     </div>
    </a>
   </div>
   <div class="cbp-item identity">
    <a class="cbp-caption cbp-lightbox" data-title="Holiday Selector&lt;br&gt;by Cosmin Capitanu" href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/923c25">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="http://scriptpie.com/cubeportfolio/img/?i=500x375/843252"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignLeft">
       <div class="cbp-l-caption-body">
        <div class="cbp-l-caption-title">
         Holiday Selector
        </div>
        <div class="cbp-l-caption-desc">
         by Cosmin Capitanu
        </div>
       </div>
      </div>
     </div>
    </a>
   </div>
   <div class="cbp-item graphic motion">
    <a class="cbp-caption cbp-lightbox" data-title="Augmented Tourist&lt;br&gt;by Cosmin Capitanu" href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/135433">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="http://scriptpie.com/cubeportfolio/img/?i=500x375/054a60"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignLeft">
       <div class="cbp-l-caption-body">
        <div class="cbp-l-caption-title">
         Augmented Tourist
        </div>
        <div class="cbp-l-caption-desc">
         by Cosmin Capitanu
        </div>
       </div>
      </div>
     </div>
    </a>
   </div>
   <div class="cbp-item logos motion">
    <a class="cbp-caption cbp-lightbox" data-title="Bills Bills Bills&lt;br&gt;by Cosmin Capitanu" href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/946b41">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="http://scriptpie.com/cubeportfolio/img/?i=500x375/86616e"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignLeft">
       <div class="cbp-l-caption-body">
        <div class="cbp-l-caption-title">
         Bills Bills Bills
        </div>
        <div class="cbp-l-caption-desc">
         by Cosmin Capitanu
        </div>
       </div>
      </div>
     </div>
    </a>
   </div>
   <div class="cbp-item graphic">
    <a class="cbp-caption cbp-lightbox" data-title="Ultramarine Admin&lt;br&gt;by Cosmin Capitanu" href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/15834f">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="http://scriptpie.com/cubeportfolio/img/?i=500x375/07797c"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignLeft">
       <div class="cbp-l-caption-body">
        <div class="cbp-l-caption-title">
         Ultramarine Admin
        </div>
        <div class="cbp-l-caption-desc">
         by Cosmin Capitanu
        </div>
       </div>
      </div>
     </div>
    </a>
   </div>
  </div>
  <div class="cbp-loadMore-block3">
   <div class="cbp-item identity">
    <a class="cbp-caption cbp-lightbox" data-title="Travelling Wip&lt;br&gt;by Cosmin Capitanu" href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/2b8885">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="http://scriptpie.com/cubeportfolio/img/?i=500x375/1d7eb2"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignLeft">
       <div class="cbp-l-caption-body">
        <div class="cbp-l-caption-title">
         Travelling Wip
        </div>
        <div class="cbp-l-caption-desc">
         by Cosmin Capitanu
        </div>
       </div>
      </div>
     </div>
    </a>
   </div>
   <div class="cbp-item logos">
    <a class="cbp-caption cbp-lightbox" data-title="Travelling Map Wip&lt;br&gt;by Cosmin Capitanu" href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/ac9f93">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="http://scriptpie.com/cubeportfolio/img/?i=500x375/9e95c0"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignLeft">
       <div class="cbp-l-caption-body">
        <div class="cbp-l-caption-title">
         Travelling Map Wip
        </div>
        <div class="cbp-l-caption-desc">
         by Cosmin Capitanu
        </div>
       </div>
      </div>
     </div>
    </a>
   </div>
   <div class="cbp-item identity motion">
    <a class="cbp-caption cbp-lightbox" data-title="Grid Creator&lt;br&gt;by Cosmin Capitanu" href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/2db7a1">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="http://scriptpie.com/cubeportfolio/img/?i=500x375/1fadce"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignLeft">
       <div class="cbp-l-caption-body">
        <div class="cbp-l-caption-title">
         Grid Creator
        </div>
        <div class="cbp-l-caption-desc">
         by Cosmin Capitanu
        </div>
       </div>
      </div>
     </div>
    </a>
   </div>
   <div class="cbp-item web-design">
    <a class="cbp-caption cbp-lightbox" data-title="Flat Roman Typeface Ui&lt;br&gt;by Cosmin Capitanu" href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/aeceaf">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="http://scriptpie.com/cubeportfolio/img/?i=500x375/a0c4dc"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignLeft">
       <div class="cbp-l-caption-body">
        <div class="cbp-l-caption-title">
         Flat Roman Typeface Ui
        </div>
        <div class="cbp-l-caption-desc">
         by Cosmin Capitanu
        </div>
       </div>
      </div>
     </div>
    </a>
   </div>
   <div class="cbp-item graphic motion">
    <a class="cbp-caption cbp-lightbox" data-title="Easy Note&lt;br&gt;by Cosmin Capitanu" href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/2fe6bd">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="http://scriptpie.com/cubeportfolio/img/?i=500x375/21dcea"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignLeft">
       <div class="cbp-l-caption-body">
        <div class="cbp-l-caption-title">
         Easy Note
        </div>
        <div class="cbp-l-caption-desc">
         by Cosmin Capitanu
        </div>
       </div>
      </div>
     </div>
    </a>
   </div>
   <div class="cbp-item web-design">
    <a class="cbp-caption cbp-lightbox" data-title="Student Guide&lt;br&gt;by Cosmin Capitanu" href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/b0fdcb">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="http://scriptpie.com/cubeportfolio/img/?i=500x375/a2f3f8"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignLeft">
       <div class="cbp-l-caption-body">
        <div class="cbp-l-caption-title">
         Student Guide
        </div>
        <div class="cbp-l-caption-desc">
         by Cosmin Capitanu
        </div>
       </div>
      </div>
     </div>
    </a>
   </div>
   <div class="cbp-item graphic">
    <a class="cbp-caption cbp-lightbox" data-title="Geo Tagging&lt;br&gt;by Cosmin Capitanu" href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/3115da">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="http://scriptpie.com/cubeportfolio/img/?i=500x375/230b07"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignLeft">
       <div class="cbp-l-caption-body">
        <div class="cbp-l-caption-title">
         Geo Tagging
        </div>
        <div class="cbp-l-caption-desc">
         by Cosmin Capitanu
        </div>
       </div>
      </div>
     </div>
    </a>
   </div>
  </div>
 </body>
</html>