{% load staticfiles %}
<html>
 <body>
  <div class="cbp-loadMore-block1">
   <div class="graphic web-design cbp-item">
    <div class="cbp-caption">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="http://scriptpie.com/cubeportfolio/img/?i=500x750/a1096d"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignCenter">
       <div class="cbp-l-caption-body">
        <a class="cbp-singlePage cbp-l-caption-buttonLeft" href="{% url 'jango-ajax-project17' %}">
         more info
        </a>
        <a class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Mountaineer&lt;br&gt;by Cosmin Capitanu" href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/900d09">
         view larger
        </a>
       </div>
      </div>
     </div>
    </div>
    <a class="cbp-l-grid-masonry-projects-title cbp-singlePage" href="{% url 'jango-ajax-project17' %}">
     Mountaineer
    </a>
    <div class="cbp-l-grid-masonry-projects-desc">
     graphic / logo
    </div>
   </div>
   <div class="graphic logos cbp-item">
    <div class="cbp-caption">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="http://scriptpie.com/cubeportfolio/img/?i=500x480/c81a6c"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignCenter">
       <div class="cbp-l-caption-body">
        <a class="cbp-singlePage cbp-l-caption-buttonLeft" href="{% url 'jango-ajax-project14' %}">
         more info
        </a>
        <a class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Timezone Mgmt&lt;br&gt;by Cosmin Capitanu" href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/112517">
         view larger
        </a>
       </div>
      </div>
     </div>
    </div>
    <a class="cbp-l-grid-masonry-projects-title cbp-singlePage" href="{% url 'jango-ajax-project14' %}">
     Timezone Mgmt
    </a>
    <div class="cbp-l-grid-masonry-projects-desc">
     graphic / logo
    </div>
   </div>
   <div class="identity logos cbp-item">
    <div class="cbp-caption">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="http://scriptpie.com/cubeportfolio/img/?i=500x750/5ea3c8"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignCenter">
       <div class="cbp-l-caption-body">
        <a class="cbp-singlePage cbp-l-caption-buttonLeft" href="{% url 'jango-ajax-project18' %}">
         more info
        </a>
        <a class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Archiview&lt;br&gt;by Cosmin Capitanu" href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/4da764">
         view larger
        </a>
       </div>
      </div>
     </div>
    </div>
    <a class="cbp-l-grid-masonry-projects-title cbp-singlePage" href="{% url 'jango-ajax-project18' %}">
     Archiview
    </a>
    <div class="cbp-l-grid-masonry-projects-desc">
     graphic / logo
    </div>
   </div>
   <div class="identity web-design cbp-item">
    <div class="cbp-caption">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="http://scriptpie.com/cubeportfolio/img/?i=500x750/3b3eaa"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignCenter">
       <div class="cbp-l-caption-body">
        <a class="cbp-singlePage cbp-l-caption-buttonLeft" href="{% url 'jango-ajax-project16' %}">
         more info
        </a>
        <a class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Website Lightbox&lt;br&gt;by Paul Flavius Nechita" href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/6c8096">
         view larger
        </a>
       </div>
      </div>
     </div>
    </div>
    <a class="cbp-l-grid-masonry-projects-title cbp-singlePage" href="{% url 'jango-ajax-project16' %}">
     Website Lightbox
    </a>
    <div class="cbp-l-grid-masonry-projects-desc">
     identity
    </div>
   </div>
  </div>
  <div class="cbp-loadMore-block2">
   <div class="graphic web-design cbp-item">
    <div class="cbp-caption">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="http://scriptpie.com/cubeportfolio/img/?i=500x480/ea394b"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignCenter">
       <div class="cbp-l-caption-body">
        <a class="cbp-singlePage cbp-l-caption-buttonLeft" href="{% url 'jango-ajax-project13' %}">
         more info
        </a>
        <a class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Shopping Gallery&lt;br&gt;by Cosmin Capitanu" href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/3344f6">
         view larger
        </a>
       </div>
      </div>
     </div>
    </div>
    <a class="cbp-l-grid-masonry-projects-title cbp-singlePage" href="{% url 'jango-ajax-project13' %}">
     Shopping Gallery
    </a>
    <div class="cbp-l-grid-masonry-projects-desc">
     Graphic / Logo
    </div>
   </div>
   <div class="graphic logos cbp-item">
    <div class="cbp-caption">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="http://scriptpie.com/cubeportfolio/img/?i=500x480/43a525"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignCenter">
       <div class="cbp-l-caption-body">
        <a class="cbp-singlePage cbp-l-caption-buttonLeft" href="{% url 'jango-ajax-project15' %}">
         more info
        </a>
        <a class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Story Book&lt;br&gt;by Cosmin Capitanu" href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/8cafd0">
         view larger
        </a>
       </div>
      </div>
     </div>
    </div>
    <a class="cbp-l-grid-masonry-projects-title cbp-singlePage" href="{% url 'jango-ajax-project15' %}">
     Story Book
    </a>
    <div class="cbp-l-grid-masonry-projects-desc">
     Graphic / Logo
    </div>
   </div>
  </div>
 </body>
</html>