{% load staticfiles %}
<html>
 <body>
  <div class="cbp-loadMore-block1">
   <div class="graphic web-design cbp-item">
    <div class="cbp-caption">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="{% static 'jango/assets/base/img/content/stock/60.jpg' %}"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignCenter">
       <div class="cbp-l-caption-body">
        <a class="cbp-singlePage cbp-l-caption-buttonLeft btn btn-sm c-btn-square c-btn-border-1x c-btn-white c-btn-uppercase" href="{% url 'jango-ajax-projects-project13' %}">
         Explore
        </a>
        <a class="cbp-lightbox cbp-l-caption-buttonRight btn btn-sm c-btn-square c-btn-border-1x c-btn-white c-btn-uppercase" data-title="Shopping Gallery&lt;br&gt;by Cosmin Capitanu" href="{% static 'jango/assets/base/img/content/stock/60.jpg' %}">
         Zoom
        </a>
       </div>
      </div>
     </div>
    </div>
    <div class="cbp-l-grid-projects-title">
     Shopping Gallery
    </div>
    <div class="cbp-l-grid-projects-desc">
     Graphic / Logo
    </div>
   </div>
   <div class="graphic logos cbp-item">
    <div class="cbp-caption">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="{% static 'jango/assets/base/img/content/stock/61.jpg' %}"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignCenter">
       <div class="cbp-l-caption-body">
        <a class="cbp-singlePage cbp-l-caption-buttonLeft btn btn-sm c-btn-square c-btn-border-1x c-btn-white c-btn-uppercase" href="{% url 'jango-ajax-projects-project14' %}">
         Explore
        </a>
        <a class="cbp-lightbox cbp-l-caption-buttonRight btn btn-sm c-btn-square c-btn-border-1x c-btn-white c-btn-uppercase" data-title="Timezone Mgmt&lt;br&gt;by Cosmin Capitanu" href="{% static 'jango/assets/base/img/content/stock/61.jpg' %}">
         Zoom
        </a>
       </div>
      </div>
     </div>
    </div>
    <div class="cbp-l-grid-projects-title">
     Timezone Mgmt
    </div>
    <div class="cbp-l-grid-projects-desc">
     Graphic / Logo
    </div>
   </div>
   <div class="graphic logos cbp-item">
    <div class="cbp-caption">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="{% static 'jango/assets/base/img/content/stock/62.jpg' %}"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignCenter">
       <div class="cbp-l-caption-body">
        <a class="cbp-singlePage cbp-l-caption-buttonLeft btn btn-sm c-btn-square c-btn-border-1x c-btn-white c-btn-uppercase" href="{% url 'jango-ajax-projects-project15' %}">
         Explore
        </a>
        <a class="cbp-lightbox cbp-l-caption-buttonRight btn btn-sm c-btn-square c-btn-border-1x c-btn-white c-btn-uppercase" data-title="Story Book&lt;br&gt;by Cosmin Capitanu" href="{% static 'jango/assets/base/img/content/stock/62.jpg' %}">
         Zoom
        </a>
       </div>
      </div>
     </div>
    </div>
    <div class="cbp-l-grid-projects-title">
     Story Book
    </div>
    <div class="cbp-l-grid-projects-desc">
     Graphic / Logo
    </div>
   </div>
   <div class="identity web-design cbp-item">
    <div class="cbp-caption">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="{% static 'jango/assets/base/img/content/stock/63.jpg' %}"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignCenter">
       <div class="cbp-l-caption-body">
        <a class="cbp-singlePage cbp-l-caption-buttonLeft btn btn-sm c-btn-square c-btn-border-1x c-btn-white c-btn-uppercase" href="{% url 'jango-ajax-projects-project16' %}">
         Explore
        </a>
        <a class="cbp-lightbox cbp-l-caption-buttonRight btn btn-sm c-btn-square c-btn-border-1x c-btn-white c-btn-uppercase" data-title="Website Lightbox&lt;br&gt;by Paul Flavius Nechita" href="{% static 'jango/assets/base/img/content/stock/63.jpg' %}">
         Zoom
        </a>
       </div>
      </div>
     </div>
    </div>
    <div class="cbp-l-grid-projects-title">
     Website Lightbox
    </div>
    <div class="cbp-l-grid-projects-desc">
     Identity
    </div>
   </div>
  </div>
  <div class="cbp-loadMore-block2">
   <div class="graphic web-design cbp-item">
    <div class="cbp-caption">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="{% static 'jango/assets/base/img/content/stock/64.jpg' %}"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignCenter">
       <div class="cbp-l-caption-body">
        <a class="cbp-singlePage cbp-l-caption-buttonLeft btn btn-sm c-btn-square c-btn-border-1x c-btn-white c-btn-uppercase" href="{% url 'jango-ajax-projects-project17' %}">
         Explore
        </a>
        <a class="cbp-lightbox cbp-l-caption-buttonRight btn btn-sm c-btn-square c-btn-border-1x c-btn-white c-btn-uppercase" data-title="Mountaineer&lt;br&gt;by Cosmin Capitanu" href="{% static 'jango/assets/base/img/content/stock/64.jpg' %}">
         Zoom
        </a>
       </div>
      </div>
     </div>
    </div>
    <div class="cbp-l-grid-projects-title">
     Mountaineer
    </div>
    <div class="cbp-l-grid-projects-desc">
     Graphic / Logo
    </div>
   </div>
   <div class="identity logos cbp-item">
    <div class="cbp-caption">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="{% static 'jango/assets/base/img/content/stock/65.jpg' %}"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignCenter">
       <div class="cbp-l-caption-body">
        <a class="cbp-singlePage cbp-l-caption-buttonLeft btn btn-sm c-btn-square c-btn-border-1x c-btn-white c-btn-uppercase" href="{% url 'jango-ajax-projects-project18' %}">
         Explore
        </a>
        <a class="cbp-lightbox cbp-l-caption-buttonRight btn btn-sm c-btn-square c-btn-border-1x c-btn-white c-btn-uppercase" data-title="Archiview&lt;br&gt;by Cosmin Capitanu" href="{% static 'jango/assets/base/img/content/stock/65.jpg' %}">
         Zoom
        </a>
       </div>
      </div>
     </div>
    </div>
    <div class="cbp-l-grid-projects-title">
     Archiview
    </div>
    <div class="cbp-l-grid-projects-desc">
     Graphic / Logo
    </div>
   </div>
  </div>
 </body>
</html>