{% load staticfiles %}
<html>
 <body>
  <div class="cbp-loadMore-block1">
   <div class="graphic web-design cbp-item">
    <a class="cbp-caption cbp-singlePage" href="{% url 'jango-ajax-projects-project17' %}">
     <div class="cbp-caption">
      <div class="cbp-caption-defaultWrap">
       <img alt="" src="{% static 'jango/assets/base/img/content/stock/60.jpg' %}"/>
      </div>
      <div class="cbp-caption-activeWrap">
       <div class="c-masonry-border">
       </div>
      </div>
     </div>
    </a>
    <a class="cbp-l-grid-masonry-projects-title cbp-singlePage" href="{% url 'jango-ajax-projects-project17' %}">
     Mountaineer
    </a>
    <div class="cbp-l-grid-work-desc">
     graphic / logo
    </div>
   </div>
   <div class="graphic logos cbp-item">
    <a class="cbp-caption cbp-singlePage" href="{% url 'jango-ajax-projects-project14' %}">
     <div class="cbp-caption">
      <div class="cbp-caption-defaultWrap">
       <img alt="" src="{% static 'jango/assets/base/img/content/stock/61.jpg' %}"/>
      </div>
      <div class="cbp-caption-activeWrap">
       <div class="c-masonry-border">
       </div>
      </div>
     </div>
    </a>
    <a class="cbp-l-grid-masonry-projects-title cbp-singlePage" href="{% url 'jango-ajax-projects-project14' %}">
     Timezone Mgmt
    </a>
    <div class="cbp-l-grid-work-desc">
     graphic / logo
    </div>
   </div>
   <div class="identity logos cbp-item">
    <a class="cbp-caption cbp-singlePage" href="{% url 'jango-ajax-projects-project18' %}">
     <div class="cbp-caption">
      <div class="cbp-caption-defaultWrap">
       <img alt="" src="{% static 'jango/assets/base/img/content/stock/62.jpg' %}"/>
      </div>
      <div class="cbp-caption-activeWrap">
       <div class="c-masonry-border">
       </div>
      </div>
     </div>
    </a>
    <a class="cbp-l-grid-masonry-projects-title cbp-singlePage" href="{% url 'jango-ajax-projects-project18' %}">
     Archive view
    </a>
    <div class="cbp-l-grid-work-desc">
     graphic / logo
    </div>
   </div>
   <div class="identity web-design cbp-item">
    <a class="cbp-caption cbp-singlePage" href="{% url 'jango-ajax-projects-project16' %}">
     <div class="cbp-caption">
      <div class="cbp-caption-defaultWrap">
       <img alt="" src="{% static 'jango/assets/base/img/content/stock/63.jpg' %}"/>
      </div>
      <div class="cbp-caption-activeWrap">
       <div class="c-masonry-border">
       </div>
      </div>
     </div>
    </a>
    <a class="cbp-l-grid-masonry-projects-title cbp-singlePage" href="{% url 'jango-ajax-projects-project16' %}">
     Website Lightbox
    </a>
    <div class="cbp-l-grid-work-desc">
     identity
    </div>
   </div>
  </div>
  <div class="cbp-loadMore-block2">
   <div class="graphic web-design cbp-item">
    <a class="cbp-caption cbp-singlePage" href="{% url 'jango-ajax-projects-project13' %}">
     <div class="cbp-caption">
      <div class="cbp-caption-defaultWrap">
       <img alt="" src="{% static 'jango/assets/base/img/content/stock/64.jpg' %}"/>
      </div>
      <div class="cbp-caption-activeWrap">
       <div class="c-masonry-border">
       </div>
      </div>
     </div>
    </a>
    <a class="cbp-l-grid-masonry-projects-title cbp-singlePage" href="{% url 'jango-ajax-projects-project13' %}">
     Shopping Gallery
    </a>
    <div class="cbp-l-grid-work-desc">
     Graphic / Logo
    </div>
   </div>
   <div class="graphic logos cbp-item">
    <a class="cbp-caption cbp-singlePage" href="{% url 'jango-ajax-projects-project15' %}">
     <div class="cbp-caption">
      <div class="cbp-caption-defaultWrap">
       <img alt="" src="{% static 'jango/assets/base/img/content/stock/65.jpg' %}"/>
      </div>
      <div class="cbp-caption-activeWrap">
       <div class="c-masonry-border">
       </div>
      </div>
     </div>
    </a>
    <a class="cbp-l-grid-masonry-projects-title cbp-singlePage" href="{% url 'jango-ajax-projects-project15' %}">
     Story Book
    </a>
    <div class="cbp-l-grid-work-desc">
     Graphic / Logo
    </div>
   </div>
  </div>
 </body>
</html>