{% load staticfiles %}
<html>
 <body>
  <div class="cbp-loadMore-block1">
   <div class="graphic web-design cbp-item">
    <div class="cbp-caption">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="{% static 'jango/assets/base/img/content/stock/75.jpg' %}"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="c-masonry-border">
      </div>
      <div class="cbp-l-caption-alignCenter">
       <div class="cbp-l-caption-body">
        <a class="cbp-singlePage cbp-l-caption-buttonLeft btn c-btn-square c-btn-border-1x c-btn-white c-btn-bold c-btn-uppercase" href="{% url 'jango-ajax-projects-project17' %}">
         Explore
        </a>
        <a class="cbp-lightbox cbp-l-caption-buttonRight btn c-btn-square c-btn-border-1x c-btn-white c-btn-bold c-btn-uppercase" data-title="Mountaineer&lt;br&gt;by Cosmin Capitanu" href="{% static 'jango/assets/base/img/content/stock/75.jpg' %}">
         Zoom
        </a>
       </div>
      </div>
     </div>
    </div>
    <a class="cbp-l-grid-masonry-projects-title cbp-singlePage" href="{% url 'jango-ajax-projects-project17' %}">
     Mountaineer
    </a>
    <div class="cbp-l-grid-masonry-projects-desc">
     graphic / logo
    </div>
   </div>
   <div class="graphic logos cbp-item">
    <div class="cbp-caption">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="{% static 'jango/assets/base/img/content/stock/07.jpg' %}"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="c-masonry-border">
      </div>
      <div class="cbp-l-caption-alignCenter">
       <div class="cbp-l-caption-body">
        <a class="cbp-singlePage cbp-l-caption-buttonLeft btn c-btn-square c-btn-border-1x c-btn-white c-btn-bold c-btn-uppercase" href="{% url 'jango-ajax-projects-project14' %}">
         Explore
        </a>
        <a class="cbp-lightbox cbp-l-caption-buttonRight btn c-btn-square c-btn-border-1x c-btn-white c-btn-bold c-btn-uppercase" data-title="Timezone Mgmt&lt;br&gt;by Cosmin Capitanu" href="{% static 'jango/assets/base/img/content/stock/07.jpg' %}">
         Zoom
        </a>
       </div>
      </div>
     </div>
    </div>
    <a class="cbp-l-grid-masonry-projects-title cbp-singlePage" href="{% url 'jango-ajax-projects-project14' %}">
     Timezone Mgmt
    </a>
    <div class="cbp-l-grid-masonry-projects-desc">
     graphic / logo
    </div>
   </div>
   <div class="identity logos cbp-item">
    <div class="cbp-caption">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="{% static 'jango/assets/base/img/content/stock/45.jpg' %}"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="c-masonry-border">
      </div>
      <div class="cbp-l-caption-alignCenter">
       <div class="cbp-l-caption-body">
        <a class="cbp-singlePage cbp-l-caption-buttonLeft btn c-btn-square c-btn-border-1x c-btn-white c-btn-bold c-btn-uppercase" href="{% url 'jango-ajax-projects-project18' %}">
         Explore
        </a>
        <a class="cbp-lightbox cbp-l-caption-buttonRight btn c-btn-square c-btn-border-1x c-btn-white c-btn-bold c-btn-uppercase" data-title="Archiview&lt;br&gt;by Cosmin Capitanu" href="{% static 'jango/assets/base/img/content/stock/45.jpg' %}">
         Zoom
        </a>
       </div>
      </div>
     </div>
    </div>
    <a class="cbp-l-grid-masonry-projects-title cbp-singlePage" href="{% url 'jango-ajax-projects-project18' %}">
     Archiview
    </a>
    <div class="cbp-l-grid-masonry-projects-desc">
     graphic / logo
    </div>
   </div>
   <div class="identity web-design cbp-item">
    <div class="cbp-caption">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="{% static 'jango/assets/base/img/content/stock/25.jpg' %}"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="c-masonry-border">
      </div>
      <div class="cbp-l-caption-alignCenter">
       <div class="cbp-l-caption-body">
        <a class="cbp-singlePage cbp-l-caption-buttonLeft btn c-btn-square c-btn-border-1x c-btn-white c-btn-bold c-btn-uppercase" href="{% url 'jango-ajax-projects-project16' %}">
         Explore
        </a>
        <a class="cbp-lightbox cbp-l-caption-buttonRight btn c-btn-square c-btn-border-1x c-btn-white c-btn-bold c-btn-uppercase" data-title="Website Lightbox&lt;br&gt;by Paul Flavius Nechita" href="{% static 'jango/assets/base/img/content/stock/25.jpg' %}">
         Zoom
        </a>
       </div>
      </div>
     </div>
    </div>
    <a class="cbp-l-grid-masonry-projects-title cbp-singlePage" href="{% url 'jango-ajax-projects-project16' %}">
     Website Lightbox
    </a>
    <div class="cbp-l-grid-masonry-projects-desc">
     identity
    </div>
   </div>
  </div>
  <div class="cbp-loadMore-block2">
   <div class="graphic web-design cbp-item">
    <div class="cbp-caption">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="{% static 'jango/assets/base/img/content/stock/05.jpg' %}"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="c-masonry-border">
      </div>
      <div class="cbp-l-caption-alignCenter">
       <div class="cbp-l-caption-body">
        <a class="cbp-singlePage cbp-l-caption-buttonLeft btn c-btn-square c-btn-border-1x c-btn-white c-btn-bold c-btn-uppercase" href="{% url 'jango-ajax-projects-project13' %}">
         Explore
        </a>
        <a class="cbp-lightbox cbp-l-caption-buttonRight btn c-btn-square c-btn-border-1x c-btn-white c-btn-bold c-btn-uppercase" data-title="Shopping Gallery&lt;br&gt;by Cosmin Capitanu" href="{% static 'jango/assets/base/img/content/stock/05.jpg' %}">
         Zoom
        </a>
       </div>
      </div>
     </div>
    </div>
    <a class="cbp-l-grid-masonry-projects-title cbp-singlePage" href="{% url 'jango-ajax-projects-project13' %}">
     Shopping Gallery
    </a>
    <div class="cbp-l-grid-masonry-projects-desc">
     Graphic / Logo
    </div>
   </div>
   <div class="graphic logos cbp-item">
    <div class="cbp-caption">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="{% static 'jango/assets/base/img/content/stock/71.jpg' %}"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="c-masonry-border">
      </div>
      <div class="cbp-l-caption-alignCenter">
       <div class="cbp-l-caption-body">
        <a class="cbp-singlePage cbp-l-caption-buttonLeft btn c-btn-square c-btn-border-1x c-btn-white c-btn-bold c-btn-uppercase" href="{% url 'jango-ajax-projects-project15' %}">
         Explore
        </a>
        <a class="cbp-lightbox cbp-l-caption-buttonRight btn c-btn-square c-btn-border-1x c-btn-white c-btn-bold c-btn-uppercase" data-title="Story Book&lt;br&gt;by Cosmin Capitanu" href="{% static 'jango/assets/base/img/content/stock/71.jpg' %}">
         Zoom
        </a>
       </div>
      </div>
     </div>
    </div>
    <a class="cbp-l-grid-masonry-projects-title cbp-singlePage" href="{% url 'jango-ajax-projects-project15' %}">
     Story Book
    </a>
    <div class="cbp-l-grid-masonry-projects-desc">
     Graphic / Logo
    </div>
   </div>
  </div>
 </body>
</html>