{% load staticfiles %}
<html>
 <body>
  <div class="cbp-loadMore-block1">
   <div class="cbp-item identity">
    <a class="cbp-caption cbp-lightbox" data-title="Remind~Me More&lt;br&gt;by Tiberiu Neamu" href="{% static 'jango/assets/base/img/content/stock/21.jpg' %}">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="{% static 'jango/assets/base/img/content/stock/21.jpg' %}"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignLeft">
       <div class="cbp-l-caption-body">
        <div class="cbp-l-caption-title">
         Remind~Me More
        </div>
        <div class="cbp-l-caption-desc">
         by Tiberiu Neamu
        </div>
       </div>
      </div>
     </div>
    </a>
   </div>
   <div class="cbp-item web-design motion">
    <a class="cbp-caption cbp-lightbox" data-title="Remind~Me Widget&lt;br&gt;by Tiberiu Neamu" href="{% static 'jango/assets/base/img/content/stock/22.jpg' %}">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="{% static 'jango/assets/base/img/content/stock/22.jpg' %}"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignLeft">
       <div class="cbp-l-caption-body">
        <div class="cbp-l-caption-title">
         Remind~Me Widget
        </div>
        <div class="cbp-l-caption-desc">
         by Tiberiu Neamu
        </div>
       </div>
      </div>
     </div>
    </a>
   </div>
   <div class="cbp-item identity">
    <a class="cbp-caption cbp-lightbox" data-title="Smart Searchy&lt;br&gt;by Tiberiu Neamu" href="{% static 'jango/assets/base/img/content/stock/23.jpg' %}">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="{% static 'jango/assets/base/img/content/stock/23.jpg' %}"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignLeft">
       <div class="cbp-l-caption-body">
        <div class="cbp-l-caption-title">
         Smart Searchy
        </div>
        <div class="cbp-l-caption-desc">
         by Tiberiu Neamu
        </div>
       </div>
      </div>
     </div>
    </a>
   </div>
   <div class="cbp-item web-design">
    <a class="cbp-caption cbp-lightbox" data-title="Workout Buddy&lt;br&gt;by Tiberiu Neamu" href="{% static 'jango/assets/base/img/content/stock/24.jpg' %}">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="{% static 'jango/assets/base/img/content/stock/24.jpg' %}"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignLeft">
       <div class="cbp-l-caption-body">
        <div class="cbp-l-caption-title">
         Workout Buddy
        </div>
        <div class="cbp-l-caption-desc">
         by Tiberiu Neamu
        </div>
       </div>
      </div>
     </div>
    </a>
   </div>
   <div class="cbp-item graphic logos">
    <a class="cbp-caption cbp-lightbox" data-title="Story Book&lt;br&gt;by Cosmin Capitanu" href="{% static 'jango/assets/base/img/content/stock/25.jpg' %}">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="{% static 'jango/assets/base/img/content/stock/25.jpg' %}"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignLeft">
       <div class="cbp-l-caption-body">
        <div class="cbp-l-caption-title">
         Story Book
        </div>
        <div class="cbp-l-caption-desc">
         by Cosmin Capitanu
        </div>
       </div>
      </div>
     </div>
    </a>
   </div>
   <div class="cbp-item graphic">
    <a class="cbp-caption cbp-lightbox" data-title="Space Trip&lt;br&gt;by Cosmin Capitanu" href="{% static 'jango/assets/base/img/content/stock/26.jpg' %}">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="{% static 'jango/assets/base/img/content/stock/26.jpg' %}"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignLeft">
       <div class="cbp-l-caption-body">
        <div class="cbp-l-caption-title">
         Space Trip
        </div>
        <div class="cbp-l-caption-desc">
         by Cosmin Capitanu
        </div>
       </div>
      </div>
     </div>
    </a>
   </div>
   <div class="cbp-item logos motion">
    <a class="cbp-caption cbp-lightbox" data-title="Digital Menu&lt;br&gt;by Cosmin Capitanu" href="{% static 'jango/assets/base/img/content/stock/27.jpg' %}">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="{% static 'jango/assets/base/img/content/stock/27.jpg' %}"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignLeft">
       <div class="cbp-l-caption-body">
        <div class="cbp-l-caption-title">
         Digital Menu
        </div>
        <div class="cbp-l-caption-desc">
         by Cosmin Capitanu
        </div>
       </div>
      </div>
     </div>
    </a>
   </div>
  </div>
  <div class="cbp-loadMore-block2">
   <div class="cbp-item web-design">
    <a class="cbp-caption cbp-lightbox" data-title="21 Degrees&lt;br&gt;by Cosmin Capitanu" href="{% static 'jango/assets/base/img/content/stock/28.jpg' %}">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="{% static 'jango/assets/base/img/content/stock/28.jpg' %}"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignLeft">
       <div class="cbp-l-caption-body">
        <div class="cbp-l-caption-title">
         21 Degrees
        </div>
        <div class="cbp-l-caption-desc">
         by Cosmin Capitanu
        </div>
       </div>
      </div>
     </div>
    </a>
   </div>
   <div class="cbp-item identity">
    <a class="cbp-caption cbp-lightbox" data-title="Mountaineer&lt;br&gt;by Cosmin Capitanu" href="{% static 'jango/assets/base/img/content/stock/29.jpg' %}">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="{% static 'jango/assets/base/img/content/stock/29.jpg' %}"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignLeft">
       <div class="cbp-l-caption-body">
        <div class="cbp-l-caption-title">
         Mountaineer
        </div>
        <div class="cbp-l-caption-desc">
         by Cosmin Capitanu
        </div>
       </div>
      </div>
     </div>
    </a>
   </div>
   <div class="cbp-item web-design logos">
    <a class="cbp-caption cbp-lightbox" data-title="Timezone Mgmt&lt;br&gt;by Cosmin Capitanu" href="{% static 'jango/assets/base/img/content/stock/30.jpg' %}">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="{% static 'jango/assets/base/img/content/stock/30.jpg' %}"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignLeft">
       <div class="cbp-l-caption-body">
        <div class="cbp-l-caption-title">
         Timezone Mgmt
        </div>
        <div class="cbp-l-caption-desc">
         by Cosmin Capitanu
        </div>
       </div>
      </div>
     </div>
    </a>
   </div>
   <div class="cbp-item identity">
    <a class="cbp-caption cbp-lightbox" data-title="Holiday Selector&lt;br&gt;by Cosmin Capitanu" href="{% static 'jango/assets/base/img/content/stock/31.jpg' %}">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="{% static 'jango/assets/base/img/content/stock/31.jpg' %}"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignLeft">
       <div class="cbp-l-caption-body">
        <div class="cbp-l-caption-title">
         Holiday Selector
        </div>
        <div class="cbp-l-caption-desc">
         by Cosmin Capitanu
        </div>
       </div>
      </div>
     </div>
    </a>
   </div>
   <div class="cbp-item graphic motion">
    <a class="cbp-caption cbp-lightbox" data-title="Augmented Tourist&lt;br&gt;by Cosmin Capitanu" href="{% static 'jango/assets/base/img/content/stock/32.jpg' %}">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="{% static 'jango/assets/base/img/content/stock/32.jpg' %}"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignLeft">
       <div class="cbp-l-caption-body">
        <div class="cbp-l-caption-title">
         Augmented Tourist
        </div>
        <div class="cbp-l-caption-desc">
         by Cosmin Capitanu
        </div>
       </div>
      </div>
     </div>
    </a>
   </div>
   <div class="cbp-item logos motion">
    <a class="cbp-caption cbp-lightbox" data-title="Bills Bills Bills&lt;br&gt;by Cosmin Capitanu" href="{% static 'jango/assets/base/img/content/stock/33.jpg' %}">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="{% static 'jango/assets/base/img/content/stock/33.jpg' %}"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignLeft">
       <div class="cbp-l-caption-body">
        <div class="cbp-l-caption-title">
         Bills Bills Bills
        </div>
        <div class="cbp-l-caption-desc">
         by Cosmin Capitanu
        </div>
       </div>
      </div>
     </div>
    </a>
   </div>
   <div class="cbp-item graphic">
    <a class="cbp-caption cbp-lightbox" data-title="Ultramarine Admin&lt;br&gt;by Cosmin Capitanu" href="{% static 'jango/assets/base/img/content/stock/34.jpg' %}">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="{% static 'jango/assets/base/img/content/stock/34.jpg' %}"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignLeft">
       <div class="cbp-l-caption-body">
        <div class="cbp-l-caption-title">
         Ultramarine Admin
        </div>
        <div class="cbp-l-caption-desc">
         by Cosmin Capitanu
        </div>
       </div>
      </div>
     </div>
    </a>
   </div>
  </div>
  <div class="cbp-loadMore-block3">
   <div class="cbp-item identity">
    <a class="cbp-caption cbp-lightbox" data-title="Travelling Wip&lt;br&gt;by Cosmin Capitanu" href="{% static 'jango/assets/base/img/content/stock/35.jpg' %}">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="{% static 'jango/assets/base/img/content/stock/35.jpg' %}"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignLeft">
       <div class="cbp-l-caption-body">
        <div class="cbp-l-caption-title">
         Travelling Wip
        </div>
        <div class="cbp-l-caption-desc">
         by Cosmin Capitanu
        </div>
       </div>
      </div>
     </div>
    </a>
   </div>
   <div class="cbp-item logos">
    <a class="cbp-caption cbp-lightbox" data-title="Travelling Map Wip&lt;br&gt;by Cosmin Capitanu" href="{% static 'jango/assets/base/img/content/stock/36.jpg' %}">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="{% static 'jango/assets/base/img/content/stock/36.jpg' %}"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignLeft">
       <div class="cbp-l-caption-body">
        <div class="cbp-l-caption-title">
         Travelling Map Wip
        </div>
        <div class="cbp-l-caption-desc">
         by Cosmin Capitanu
        </div>
       </div>
      </div>
     </div>
    </a>
   </div>
   <div class="cbp-item identity motion">
    <a class="cbp-caption cbp-lightbox" data-title="Grid Creator&lt;br&gt;by Cosmin Capitanu" href="{% static 'jango/assets/base/img/content/stock/37.jpg' %}">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="{% static 'jango/assets/base/img/content/stock/37.jpg' %}"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignLeft">
       <div class="cbp-l-caption-body">
        <div class="cbp-l-caption-title">
         Grid Creator
        </div>
        <div class="cbp-l-caption-desc">
         by Cosmin Capitanu
        </div>
       </div>
      </div>
     </div>
    </a>
   </div>
   <div class="cbp-item web-design">
    <a class="cbp-caption cbp-lightbox" data-title="Flat Roman Typeface Ui&lt;br&gt;by Cosmin Capitanu" href="{% static 'jango/assets/base/img/content/stock/38.jpg' %}">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="{% static 'jango/assets/base/img/content/stock/38.jpg' %}"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignLeft">
       <div class="cbp-l-caption-body">
        <div class="cbp-l-caption-title">
         Flat Roman Typeface Ui
        </div>
        <div class="cbp-l-caption-desc">
         by Cosmin Capitanu
        </div>
       </div>
      </div>
     </div>
    </a>
   </div>
   <div class="cbp-item graphic motion">
    <a class="cbp-caption cbp-lightbox" data-title="Easy Note&lt;br&gt;by Cosmin Capitanu" href="{% static 'jango/assets/base/img/content/stock/39.jpg' %}">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="{% static 'jango/assets/base/img/content/stock/39.jpg' %}"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignLeft">
       <div class="cbp-l-caption-body">
        <div class="cbp-l-caption-title">
         Easy Note
        </div>
        <div class="cbp-l-caption-desc">
         by Cosmin Capitanu
        </div>
       </div>
      </div>
     </div>
    </a>
   </div>
   <div class="cbp-item web-design">
    <a class="cbp-caption cbp-lightbox" data-title="Student Guide&lt;br&gt;by Cosmin Capitanu" href="{% static 'jango/assets/base/img/content/stock/40.jpg' %}">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="{% static 'jango/assets/base/img/content/stock/40.jpg' %}"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignLeft">
       <div class="cbp-l-caption-body">
        <div class="cbp-l-caption-title">
         Student Guide
        </div>
        <div class="cbp-l-caption-desc">
         by Cosmin Capitanu
        </div>
       </div>
      </div>
     </div>
    </a>
   </div>
   <div class="cbp-item graphic">
    <a class="cbp-caption cbp-lightbox" data-title="Geo Tagging&lt;br&gt;by Cosmin Capitanu" href="{% static 'jango/assets/base/img/content/stock/41.jpg' %}">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="{% static 'jango/assets/base/img/content/stock/41.jpg' %}"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignLeft">
       <div class="cbp-l-caption-body">
        <div class="cbp-l-caption-title">
         Geo Tagging
        </div>
        <div class="cbp-l-caption-desc">
         by Cosmin Capitanu
        </div>
       </div>
      </div>
     </div>
    </a>
   </div>
  </div>
 </body>
</html>