{% load staticfiles %}
<html>
 <body>
  <div class="cbp-loadMore-block1">
   <div class="web-design cbp-item">
    <a class="cbp-caption cbp-singlePageInline" data-title="Flat Roman Typeface Ui&lt;br&gt;by Cosmin Capitanu" href="{% url 'jango-ajax-lightbox-gallery-project10' %}">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="{% static 'jango/assets/base/img/content/stock/12.jpg' %}"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignLeft">
       <div class="cbp-l-caption-body">
        <div class="cbp-l-caption-title">
         Flat Roman Typeface Ui
        </div>
        <div class="cbp-l-caption-desc">
         by Cosmin Capitanu
        </div>
       </div>
      </div>
     </div>
    </a>
   </div>
   <div class="motion web-design cbp-item">
    <a class="cbp-caption cbp-singlePageInline" data-title="Music Player&lt;br&gt;by Cosmin Capitanu" href="{% url 'jango-ajax-lightbox-gallery-project11' %}">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="{% static 'jango/assets/base/img/content/stock/47.jpg' %}"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignLeft">
       <div class="cbp-l-caption-body">
        <div class="cbp-l-caption-title">
         Music Player
        </div>
        <div class="cbp-l-caption-desc">
         by Cosmin Capitanu
        </div>
       </div>
      </div>
     </div>
    </a>
   </div>
  </div>
  <div class="cbp-loadMore-block2">
   <div class="print cbp-item">
    <a class="cbp-caption cbp-singlePageInline" data-title="Speed Detector&lt;br&gt;by Cosmin Capitanu" href="{% url 'jango-ajax-lightbox-gallery-project12' %}">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="{% static 'jango/assets/base/img/content/stock/68.jpg' %}"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignLeft">
       <div class="cbp-l-caption-body">
        <div class="cbp-l-caption-title">
         Speed Detector
        </div>
        <div class="cbp-l-caption-desc">
         by Cosmin Capitanu
        </div>
       </div>
      </div>
     </div>
    </a>
   </div>
   <div class="motion web-design cbp-item">
    <a class="cbp-caption cbp-singlePageInline" data-title="Sonor Website&lt;br&gt;by Cosmin Capitanu" href="{% url 'jango-ajax-lightbox-gallery-project13' %}">
     <div class="cbp-caption-defaultWrap">
      <img alt="" src="{% static 'jango/assets/base/img/content/stock/72.jpg' %}"/>
     </div>
     <div class="cbp-caption-activeWrap">
      <div class="cbp-l-caption-alignLeft">
       <div class="cbp-l-caption-body">
        <div class="cbp-l-caption-title">
         Sonor Website
        </div>
        <div class="cbp-l-caption-desc">
         by Cosmin Capitanu
        </div>
       </div>
      </div>
     </div>
    </a>
   </div>
  </div>
 </body>
</html>