<!--======================
 *  Author:		 Dave Luke Jr
 *  Company:	 CenterStack.io
 *  Description:	 login.html
 *======================-->

{% extends "base.html" %}

{% load staticfiles %}

<!--============================================================
	Login
============================================================-->
{% block content %}

<!-- Including Page Title -->
{% include "title.html" with page="My Account" page_description="Login / Register" breadcrumb="Login" %}

{% if form.errors %}
	<div class="flex-row">
		<div class="box-1"></div>
		<div class="box-2">
			<a class="alert red">Your email and/or password was incorrect. Please try again.</a>
		</div>
		<div class="box-1"></div>
	</div>
	<div class="space-h-40"></div>
{% endif %}

<!-- Login / Register -->
<div class="flex-row">
	<div class="box-3-4"></div>
	<div class="box-1 nest">

		<!-- Tabs -->
		<div id="tabs" class="flex-col center">
			<div class="box-1 nest">

				<!-- Tabs -->
				<div class="flex-row">
					<div class="box-1 center">
						<ul>
							<li><a class="btn grey-i wide fw-600" href="#login-panel">Login</a></li>
							<li><a class="btn grey-i wide fw-600" href="#register-panel">Register</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="space-h-10"></div>

			<!-- Login Panel -->
			<div id="login-panel" class="box-1 nest">
				<div class="flex-col login-panel">
					<div class="box-1 form-title">
						<h5>Login to your Account</h5>
					</div>
					<div class="box-1 form-inputs wide">
						<form id="login" role="form" method="post" action="{% url 'login' %}">
							{% csrf_token %}
							<label for="email">Email:</label>
							<input type="email" id="email" name="email" required><br><br>
							<label for="password">Password:</label>
							<input type="password" id="password" name="password" required>
							<input type="hidden" name="next" value="{{ next }}">
						</form>
					</div>
					<div class="space-h-15"></div>
					<div class="box-1 nest">
						<div class="flex-row">
							<div class="box-3-4">
								<input type="submit" form="login" class="btn blue wide">
							</div>
							<div class="box-1"></div>
							<div class="box-1 right middle">
								<a class="forgot" href="#">Forgot Password?</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Register Panel -->
			<div id="register-panel" class="box-1 nest">
				<div class="flex-col register-panel">
					<div class="box-1 form-title">
						<h5>Register for an Account</h5>
					</div>
					<div class="box-1 form-inputs wide">
						<form>
							<!-- Name -->
							<label for="name">Name:</label>
							<input type="text" id="name" name="name" required></input><br><br>

							<!-- Company -->
							<label for="company">Company:</label>
							<input type="text" id="company" name="company" required></input><br><br>

							<!-- Email -->
							<label for="email">Email:</label>
							<input type="email" id="email" name="email" required></input><br><br>

							<!-- Password -->
							<label for="password">Password:</label>
							<input type="password" id="password" name="password" required></input><br><br>

							<!-- Confirm Password -->
							<label for="password">Confirm Password:</label>
							<input type="password" id="password" name="password" required></input>
						</form>
					</div>
					<div class="space-h-15"></div>
					<div class="box-1 nest">
						<div class="flex-row">
							<div class="box-3-4">
								<a class="btn blue wide" href="{% url 'login' %}">Submit</a>
							</div>
							<div class="box-1"></div>
							<div class="box-1"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="box-3-4"></div>
</div>










{% endblock %}